<div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['']" aria-current="page" href="#">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/product']" href="#">PRODUCT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/customer']" href="#">CUSTOMER</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/kart']" href="#">KART</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>