  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">PRODUTOS </h5>
                <a [routerLink]="['/product']"
                href="#" title="Editar" alt="Editar" class="btn btn-xs btn-info">
                    <i class="fa fa-edit" aria-hidden="true"></i> CADASTRO DE PRODUTOS
                </a>        
            </div>
          </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">CLIENTES </h5>
                <a [routerLink]="['/customer']"
                    href="#" title="Editar" alt="Editar" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit" aria-hidden="true"></i> CADASTRO DE CLIENTES
                </a>
            </div>
          </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">VENDAS </h5>
                <a [routerLink]="['/kart']"
                    href="#" title="Editar" disable alt="Editar" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"  aria-hidden="true"></i> VENDAS
                </a>
            </div>
          </div>
      </div>
    </div>
  </div>